# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Spotify credentials
token.json
tools/spotify_auth/config.py
tools/spotify_auth/token.json

#Esp32 Smart Display secrets
include/config.h
src/config.cpp

# Virtual Environment
.venv/